<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring boot eamil teplate with Thymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 48px;
        }
    </style>
</head>
 <body>
    <p th:text="${'Hello Dear ' + name}"></p>
    <p th:if="${name.length() > 5}">Your name contains more than 5 characters!</p>
    <p>
    	You got this email via a <b>Spring Boot</b> application using <b>Thymeleaf</b>.
    </p>
    <p>
     <a href="http://niranzan.in">Niranjan Maharana</a>
    </p>
    <p>
    	Regards, <br />
      	<em th:text="${sign}"></em>
      	<p th:text="${location}"></p>
    </p>
  </body>
</html>